/* ##################################   STYLING THE NAVBAR  ################################## */

/* NAVBAR TITLE DESIGN */

.navbar-brand b {
    color: #003C74;
    font-weight: bold;
    font-size: 40px;
    margin-left: 50px;
}

/* NAVBAR ITEMS DESIGN */

.nav_item {
    margin-right: 100px;
    margin-top: 10px;
    color: #000000;
    transition: 0.3s;
    font-size: 20px;
}

.nav_item Link.active:hover {
    color:#006DD1;
}

.nav_item Link:hover {
    color: #006DD1;
    transition: 0.3s;
}

/* SIGNUP AND LOGIN BUTTON EFFECTS AND DESIGN */

.nav_btn {
    transition: 0.3s;
    margin-right: 50px;
}

.btn1 {
    border: 3px solid #006DD1;
    border-radius: 30px;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
}

.btn1:hover {
    color: #ffffff;
    background-color: #006DD1;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: #003C74;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}